.loginWrapper {
  background-color: red;
}
.top {
  padding: 100px 200px;
  height: 100vh;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.topRight {
  width: 30%;
  height: 70%;
}
.form {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  height: 100%;
}
.inputText {
  padding: 8px;
  margin: 10px 0;
  outline: none;
  border-radius: 8px;
  width: 100%;
}
.b-100,
.adduser {
  border: none;
  padding: 8px;
  border-radius: 8px;
  width: 100%;
  color: #fff;
  font-weight: 700;
  background-color: blue;
}
.adduser {
  background-color: #36a420;
  width: 70%;
  padding: 10px 15px;
  cursor: pointer;
}
.forgetPasswordLink {
  font-size: 14px;
  margin: 10px;
  cursor: pointer;
}
.topLeft {
  display: flex;
  width: 20%;
  height: 70%;
}
.card {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.cardImg {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #f5f6f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}
.cardTitle {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #166fe5;
  font-weight: 600;
}
.formgroup {
  display: flex;
  gap: 10px;
}
.formField {
  flex: 1;
  gap: 10px;
  display: flex;
}

.inputText {
  width: 100%;
}
.inputText {
  width: 100%;
}
.fs-12 {
  font-size: 12px;
}
.radioGroup {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 5px;
  padding: 5px 10px;
  border: 1px solid black;
}
.modelWith {
  width: 10px;
}
