.share {
  background-color: white;
  -webkit-box-shadow: 2px 0px 1px 2px var(--main-color);
  box-shadow: 2px 0px 1px 2px var(--main-color);
  margin-bottom: 15px;
  padding: 10px 0;
  border-radius: 10px;
}
.shareTop {
  display: flex;
  align-items: center;
  /* widows: 100%; */
}
.shareTop button {
  width: 100%;
  padding: 6px 15px;
  margin-left: 10px;
  cursor: pointer;
  border: none;
  text-align: left;

  border-radius: 20px;
}
.shareBottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(---text-color);
}
.shareIcon {
  font-size: 30px !important;
}
.shareOption {
  gap: 5px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 20px;
}
.shareOption:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}
.modelHeading {
  width: 100%;
  text-align: center;
}
.modelUserInfo {
  display: flex;
  gap: 10px;
  flex: 1;
  align-items: center;
}
.modelUserInfo textarea {
  width: 100%;
  margin: 20px 0;
  border: none;
  outline: none;
  font-size: 22px;
}
.addPosts {
  flex: 1;
}
.posts {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.w-100 {
  width: 100%;
  outline: none;
  border: none;
  font-weight: 600;
  padding: 8px;
  border-radius: 10px;
}
/* cursor: pointer; */
.userTags {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.border {
  padding: 15px;
  border-radius: 10px;
  align-items: center;
  border: 1px solid silver;
}
.modelUserInfo .icon {
  cursor: pointer;
}

.no {
  cursor: not-allowed !important;
}
