.topbartest {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0px 3px 3px 0px rgba(240, 242, 245, 0.75);
  -webkit-box-shadow: 0px 3px 3px 0px rgba(240, 242, 245, 0.75);
  height: 60px;
  z-index: 1000;
}
.lefttest,
.righttest {
  flex: 3;
}
.centertest {
  flex: 6;
}
.lefttest {
  display: flex;
  align-items: center;
}
.searchtest {
  position: relative;
  padding: 1px;
  border-radius: 10px;
}
.searchIcontest {
  position: absolute;
  top: 10px;
  left: 8px;
}
.searchInput {
  border: none;
  outline: none;
  background-color: #f0f2f5;
  border-radius: 10px;
  padding: 8px 30px;
}
.righttest {
  display: flex;
  align-items: center;
}
.rightMenu {
  display: flex;
  width: 100%;
  padding-right: 10px;
  justify-content: flex-end;
}
.RightMenuList {
  position: relative;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  background-color: #f0f2f5;
  margin: 0 8px;
  cursor: pointer;
}
.RightIcon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.badges {
  position: absolute;
  border-radius: 50%;
  right: 0;
  top: -5px;
  text-align: center;
  width: 20px;
  height: 20px;
  background-color: red;
  color: white;
  font-weight: 600;
}
.menuLinks {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menuLink {
  position: relative;
  padding: 8px 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuIcon {
  font-size: 30px !important;
}
.menuLink:hover {
  background-color: var(--main-color);
  cursor: pointer;
}

.hoverMenu {
  position: absolute;
  left: 0;
  display: none;
  background-color: black;
  color: white;
  border-radius: 10px;
  top: 52px;
  font-size: 12px;
  padding: 5px 20px;
}
.RighthoverMenu {
  position: absolute;
  top: 45px;
  right: -20px;
  display: none;
  background-color: black;
  color: white;
  font-size: 12px;
  text-align: center;
  width: 100%;
  border-radius: 10px;
  margin: 5px;
  padding: 5px 40px;
}

.menuLink:hover .hoverMenu {
  display: flex;
  padding: 5px 20px;
  width: 100%;
  justify-content: center;
}
.RightMenuList:hover .RighthoverMenu {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
}

// .menuLink > .menuIcon,
// .menuIcons,
// img:hover {
//   cursor: pointer;
//   background-color: var(--main-color);
// }

.box {
  background-color: var(--box-color);
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}
.profiles {
  display: none;
  width: 320px;
  position: absolute;
  padding: 10px;
  top: 55px;
  right: -20px;
}
.nodification {
  display: none;
  width: 320px;
  position: absolute;
  padding: 10px;
  top: 52px;
  right: -70px;
}

.show {
  z-index: 100;
  display: block;
}
.userProfile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.userProfile:hover {
  cursor: pointer;
  background-color: var(--main-color);
}
.options {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border-radius: 10px;
}
.optionsHeading {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border-radius: 10px;
}
.optionIcon {
  font-size: 30px !important;
}
.optionIconBack {
  width: 120;
  height: 120;
  border-radius: 50%;
  cursor: pointer;
  font-size: 30px !important;
}
.optionIconBack:hover {
  background-color: var(--main-color);
}
.heading {
  display: flex;
  align-items: center;
}
.optionName {
  margin-left: 10px;
}
.optionNameHeading {
  font-weight: 700;
  font-size: 24px;
  margin-left: 10px;
}
.options:hover {
  background-color: var(--main-color);
  cursor: pointer;
}
