.sidebar {
  flex: 2;
  background-color: var(--main-color);
  height: calc(100vh - 60px);
  overflow-y: hidden;
}
.sidebar:hover {
  overflow-y: scroll;
}
.sidebarContainer {
  width: 100%;
  padding: 5px 0 5px 10px;
}

.bottomMenu {
  position: relative;
}

.sideFooter {
  position: absolute;
  bottom: -42px;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

.menuItem {
  display: flex;
  align-items: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 10px;
}
.menuIcon {
  margin-right: 10px;
  color: blue;
}
.menuText {
  font-size: 16px;
  font-weight: 500;
}
.menuItem:hover {
  background-color: #e4e6e9;
  cursor: pointer;
}
.shortcut {
  display: flex;
  justify-content: space-between;
}
h3 {
  font-size: 22px;
}
.edit {
  display: none;
}
.shortcut:hover .edit {
  display: block;
  cursor: pointer;
  color: blue;
}
.groupimg {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  object-fit: cover;
}
.sideFooter {
  font-size: 12px;
}
